@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?edhwvt');
  src:  url('fonts/icomoon.eot?edhwvt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?edhwvt') format('truetype'),
    url('fonts/icomoon.woff?edhwvt') format('woff'),
    url('fonts/icomoon.svg?edhwvt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adidas:before {
  content: "\e901";
  font-size: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: white;
}
.icon-denglu2:before {
  content: "\e902";
}
.icon-icon--copy:before {
  content: "\e903";
  color: #707070;
}
.icon-icongou:before {
  content: "\e904";
}
.icon-jiang-copy:before {
  content: "\e905";
  color: white;
}
.icon-liaotian:before {
  content: "\e906";
}
.icon-qq:before {
  content: "\e907";
  color: rgb(255, 200, 23);
  font-size: 50px;
}
.icon-qq .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.icon-qq .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-qq .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 59, 48);
}
.icon-qq .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(221, 44, 0);
}
.icon-qq .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 200, 23);
}
.icon-qq .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 59, 48);
}
.icon-weibo .path1:before {
  content: "\e90e";
  color: rgb(231, 31, 25);
}
.icon-weibo .path2:before {
  content: "\e90f";
  margin-left: -1.0009765625em;
  color: rgb(245, 170, 21);
}
.icon-weibo .path3:before {
  content: "\e910";
  margin-left: -1.0009765625em;
  color: rgb(245, 170, 21);
}
.icon-weibo .path4:before {
  content: "\e911";
  margin-left: -1.0009765625em;
  color: rgb(4, 0, 0);
}
.icon-weixin:before {
  content: "\e912";
  color: #0abc64;
  font-size: 35px;
  margin-bottom: 0px;
}
.icon-wenhao:before {
  content: "\e913";
}
.icon-dagoukuang:before {
  content: "\e900";
  font-size: 20px;
}
